<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include('partials/header') %>

<main class="container">

  <h1><%= title %></h1>
 
<div><a href="/category/create"  class="plus-icon"></a></div>

  <ul  class="book-list">
    <% categories.forEach(category => { %>
      <li class="book-card category-grid">
        <strong class="book-title"><%= category.name %></strong>
        <div class="edit"><a href="/category/edit/<%= category.id %>">Edit</a></div>
        
        <form action="/category/<%= category.id %>/delete" method="POST" style="display: inline;">
            <button type="submit" class="delete-icon" onclick="return confirm('¿Delete this category?')">
            </button>
        </form>
      </li>
    <% }) %>
  </ul>


</main>
</body>
</html>
