<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="no-scroll">

<%- include('partials/header') %>

<main class="container">


<h1><%= title %></h1>

<% if (errors && errors.length > 0) { %>
    <div class="error-list">
        <h3>Please fix the following errors:</h3>
        <ul>
            <% errors.forEach(error => { %>
                <li class="error-item">
                    <strong><%= error.path %>:</strong> <%= error.msg %>
                </li>
            <% }); %>
        </ul>
    </div>
<% } %>


<form action="<%= formAction %>" method="POST" class="book-form category-form" >
  <label>
    Category name:
    </label>
    <input
      type="text"
      name="name"
      value="<%= category ? category.name : '' %>"
      required
    >
  <button type="submit">
    <%= category ? 'Update' : 'Create' %>
  </button>
</form>




</main>
</body>
</html>